*, a, ul, li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@-webkit-keyframes Shake {
  0% {
    translate: -10px;
  }
  25% {
    translate: 10px;
  }
  50% {
    translate: -5px;
  }
  75% {
    translate: 5px;
  }
  100% {
    translate: 0px;
  }
}

@keyframes Shake {
  0% {
    translate: -10px;
  }
  25% {
    translate: 10px;
  }
  50% {
    translate: -5px;
  }
  75% {
    translate: 5px;
  }
  100% {
    translate: 0px;
  }
}
@media screen and (max-width: 480px) {
  body {
    overflow-y: hidden;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: #1a1b40;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*FRONT CONTAINER*/
}
.container .container_Info {
  width: 70%;
  text-align: left;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #1A1B40;
}
@media screen and (max-width: 480px) {
  .container .container_Info {
    height: 20%;
  }
}
.container .container_Info .container_Info_Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.container .container_Info .container_Info_Box .container_info_box_tititle {
  font-family: Advent Pro, helvetica;
  font-size: 3em;
  padding: 0.5em;
  padding: 0;
  font-variant: all-small-caps;
  font-weight: normal;
  color: white;
  width: 100%;
  font-size: 4.7em;
}
@media screen and (max-width: 480px) {
  .container .container_Info .container_Info_Box .container_info_box_tititle {
    font-size: 3.7em;
  }
}
.container .container_Info .container_Info_Box .container_info_box_Description {
  width: 100%;
  color: white;
  font-family: Advent Pro, Century Gothic;
  font-size: 1em;
  padding: 0.5em;
  font-weight: normal;
  font-size: 1.2em;
  padding: 0;
}
.container .container_Info .container_Info_Box .container_info_box_Description .container_info_box_Description_link {
  font-size: 2.5em;
  color: #32db4a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  padding: 0;
}
.container .container_Info .container_Info_Box .container_info_box_Description .container_info_box_Description_link:after {
  content: "";
  background: #32db4a;
  width: 0%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.container .container_Info .container_Info_Box .container_info_box_Description .container_info_box_Description_link:hover::after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .container .container_Info .container_Info_Box .container_info_box_Description .container_info_box_Description_link {
    font-size: 2em;
  }
}
.container .container_img_center {
  /*Just ONE*/
  width: 250px;
  height: 250px;
  position: absolute;
  right: 0;
  bottom: 40%;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .container .container_img_center {
    width: 190px;
    height: 190px;
    bottom: 40%;
  }
}
@media screen and (max-width: 480px) {
  .container .container_img_center {
    width: 135px;
    height: 135px;
    top: 0;
  }
}
.container .container_ShowCategories {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .container .container_ShowCategories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .container .container_ShowCategories {
    margin-top: 20%;
  }
}
.container .container_ShowCategories .container_ShowCategories_Bttn-M {
  font-family: Advent Pro, Century Gothic;
  font-size: 1em;
  padding: 0.5em;
  font-weight: normal;
  font-size: 2.2em;
  color: white;
  font-weight: bold;
  cursor: default;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .container .container_ShowCategories .container_ShowCategories_Bttn-M {
    font-size: 1em;
  }
}
.container .container_ShowCategories .container_ShowCategories_Bttn {
  font-family: Advent Pro, Century Gothic;
  font-size: 1em;
  padding: 0.5em;
  font-weight: normal;
  z-index: 100;
  text-transform: uppercase;
  font-size: 2.2em;
  color: #32db4a;
  font-weight: bold;
  cursor: default;
  position: relative;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .container .container_ShowCategories .container_ShowCategories_Bttn {
    font-size: 1.5em;
  }
}

.container_Categories {
  z-index: 100;
  width: 100%;
  background: #1A1B40;
  top: 0;
  right: 0;
  bottom: 0;
  translate: -100%;
  position: absolute;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.container_Categories .container_Categories_BTTClose {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 7ch;
  color: white;
  font-family: century gothic;
  cursor: pointer;
  position: sticky;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
  padding: 0 1em;
  background: #1A1B40;
  text-align: center;
}
.container_Categories .container_Categories_display {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container_Categories .container_Categories_display .container_Categories_display_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container_Categories .container_Categories_display .container_Categories_display_content .container_Categories_display_Content_IO {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 175px;
  height: 175px;
}
@media screen and (max-width: 480px) {
  .container_Categories .container_Categories_display .container_Categories_display_content .container_Categories_display_Content_IO {
    width: 125px;
    height: 125px;
  }
}
.container_Categories .container_Categories_display .container_Categories_display_content .container_Categories_display_Content_IO_Titles {
  font-family: Advent Pro, helvetica;
  font-size: 3em;
  padding: 0.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 2em;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fffb00;
}
.container_Categories .container_Categories_display .container_Categories_display_content .container_Categories_display_Content_IO_Titles:hover {
  -webkit-animation: Shake 0.5s;
          animation: Shake 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.48, 1.01, 0.56, 1.16);
          animation-timing-function: cubic-bezier(0.48, 1.01, 0.56, 1.16);
}