@use 'components/reset' as *;
@use 'components/fonts' as *;
@use 'components/colors' as *;
@use 'components/mixins' as *;

@keyframes Shake {
	0%{translate:-10px;}
	25%{translate:10px;}
	50%{translate:-5px;}
	75%{translate:5px;}
	100%{translate:0px;}
}
body{
	@media screen and (max-width: 480px) {
		overflow-y: hidden;
	}
}
.container{
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100vh;
	background:opacify($lightblue, 0%);
	align-items: center;
	justify-content: center;
	.container_Info{
		width: 70%;
		text-align: left;
		height: 50%;
		display: flex;
		position: relative;
		background: $lightblue;
		@media screen and (max-width: 480px) {
			height: 20%;
		}
		.container_Info_Box{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			position: relative;
			.container_info_box_tititle{
				@include titles;
				padding: 0;
				font-variant: all-small-caps;
				font-weight: normal;
				color: white;
				width: 100%;
				font-size: 4.7em;
				@media screen and (max-width: 480px) {
					font-size: 3.7em;
				}
			}
			.container_info_box_Description{
				width: 100%;
				color: white;
				@include text;
				font-size: 1.2em;
				padding: 0;
				.container_info_box_Description_link{
					font-size: 2.5em;
					color: $green;
					transition: .5s;
					position: relative;
					padding:0;
					&:after{
						content: '';
						background:$green;
						width: 0%;
						height: 5px;
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						bottom: 0;
						transition: .5s;
					}	
					&:hover::after{
						transition: .5s;
						width: 100%;
					}
					@media screen and (max-width: 480px) {
							font-size: 2em;
					}
				}
			}
		}
	}
	.container_img_center{/*Just ONE*/
		width: 250px;
		height: 250px;
		position: absolute;	
		right: 0;
		bottom: 40%;
		margin: auto;
		@media screen and (max-width: 600px) {
			width: 190px;
			height: 190px;
			bottom: 40%;
		}
		@media screen and (max-width: 480px) {
			width: 135px;
			height: 135px;
			top: 0;
		}	
	}
	.container_ShowCategories{
		width: 100%;
		height: 200px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
		@media screen and (max-width: 480px) {
			margin-top: 20%;
		}
		.container_ShowCategories_Bttn-M{
			@include text;
			font-size: 2.2em;
			color: white;
			font-weight: bold;
			cursor: default;
			padding: 0;
			@media screen and (max-width: 480px) {
				font-size: 1em;
			}
		}
		.container_ShowCategories_Bttn{
			@include text;
			z-index: 100;
			text-transform: uppercase;
			font-size: 2.2em;
			color: $green;
			font-weight: bold;
			cursor: default;
			position: relative;
			margin: auto;
			@media screen and (max-width: 600px) {
				font-size: 1.5em;
			}
			
		}
	}/*FRONT CONTAINER*/
}
.container_Categories{
	z-index: 100;
	width: 100%;
	background: $lightblue;
	top: 0;
	right: 0;
	bottom: 0;
	translate: -100%;
	position: absolute;		
	overflow-y: auto;
	justify-content: flex-start;
	&::-webkit-scrollbar{
		width: .7em;
	}	
	&::-webkit-scrollbar-track{
		background: darken($lightblue, 10%);
	}
	&::-webkit-scrollbar-thumb{
		background: lighten($lightblue, 15%);
	}
	.container_Categories_BTTClose{
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 7ch;
		color: white;
		font-family: century gothic;
		cursor: pointer;
		position: sticky;
		z-index: 100;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: .8em;
		padding: 0 1em;
		background: $lightblue;
		text-align: center;
	}
	.container_Categories_display{
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-bottom: auto; 

		position: relative;
		display: flex;
		flex-wrap: wrap;
		.container_Categories_display_content{
			position: relative;		
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;	
			flex-wrap: wrap;
			
			.container_Categories_display_Content_IO{
				transition: .5s;
				width: 165px;
				height: 165px;
				
				@media screen and (max-width: 480px) {
					width: 125px;
					height: 125px;
				}
			}
			.container_Categories_display_Content_IO_Titles{
				@include titles;
				width: 100%;

				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-size: 2em;
				margin: auto;
				transition: .5s;
				color: $secondarybackground;
				&:hover{
					animation: Shake .5s;
					animation-timing-function: cubic-bezier(.48,1.01,.56,1.16);
				}

			}
		}
		
	}
}
